# Docker
.env

# Data
/chroma_storage/
backend/chroma_storage/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# Release build artifacts
release/build/
release/build-portable/
release/dist/*.exe
release/dist/*.zip
release/dist/SmartStudy-Setup-Portable/
release/dist/*.spec
